user_uuid="6bb3f09f-0498-4cec-b13b-e7645022b897"
bucket_name="1lg2zxmia83f0e5xsx1iw5r8xpf87d77"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1