terratowns_endpoint     = "https://terratowns.cloud/api"
arcanum = {
    content_version = 1
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/arcanum"
}
chili = {
    content_version = 1
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/chili"
}
# bucket_name             =" 1lg2zxmia83f0e5xsx1iw5r8xpf87d77"
